{{!< default}}
<nav class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><img src="{{ asset 'images/logo.png'}} %>" class="nav-logo" /></a>
        <div class="tagline">seekh kar <span class="ctx-bold">bech</span>, smartly <span class="ctx-bold">bech</span></div>
      </div>
      <div class="col-md-9 content-right nav-main">
        <ul>
          <li style="display:none;"> <a href="#home"></a> </li>
          <li> <a href="#our-seminars">Our seminars &amp; workshops</a> </li>
          <li> <a href="#benefits">Benefits</a> </li>
          <li> <a href="#faqs">FAQs</a> </li>
          <li> <a href="#what-people-are-saying">What people are saying</a> </li>
          <li> <a href="#contact-us">Contact Us</a> </li>
          <li> <a href="#about-us">About us</a> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="{{ asset 'images/logo.png'}} %>" class="display-logo" />
        <div class="tagline">seekh kar <span class="ctx-bold">bech</span>, smartly <span class="ctx-bold">bech</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="title special-font">Seminars and training on “How to become a better service provider” for existing and budding providers like Travel agents, Real Estate agents, Insurance agents etc.</h3>
        <br>
        <p>
          bechSmartly is the first in its kind initiative to educate and empower providers in modern age service industry.
          We aim to give you knowledge about increasing your sales &amp; revenue by 100% and reducing your efforts by 50%.
          <br><br>
          <mark>Our seminars are absolutely FREE of cost</mark> and we strongly encourage you to attend them. Please do not hesitate to register!<br>
        </p>
        <br>
        <p class="ctx-center-big"><span class="underline">Kindly scroll below to know more</span> &nbsp;&nbsp;&nbsp;&#8595;</p>
      </div>
      <div class="col-md-6">
        <img src="{{ asset '/images/graphics.png' }}" class="graphic" />
      </div>
    </div>
  </div>
  <br>
</header>

<section class="content-para" id="our-seminars">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">Our seminars &amp; workshops</h1>
        <p>
          A service provider today, needs better understanding about their customers to serve them better, thus leading to a professional growth.
          By attending our seminar you come to know about:
          <ul>
            <li>What exactly service means ?</li>
            <li>How big is service sector of India ?</li>
            <li>Why their is a need for organized &amp; better service providers in India ?</li>
            <li>How you can be a better service provider ?</li>
          </ul>
        </p>
        <br>
        <h3>Upcoming seminar</h3>
        <div class="pre">
          <div class="bold">Topic</div>
          <div>“Changing Trends in Service Industry”</div>
          <br>
          <div class="bold">Venues &amp; Dates</div>
          <div>
            Thane - 30th Oct<br>
          </div>
          <!-- <br>
          <div class="bold">Timings</div>
          <div>Morning slot (&nbsp;11am-2pm&nbsp;) &amp; Evening Slot (&nbsp;3pm-6pm&nbsp;)</div> -->
          <br>
          <div class="bold">Speaker</div>
          <div><a href="http://in.linkedin.com/in/sonubajaj">Sonu Bajaj</a> <span class="small">(CEO In-Focus)</span></div>
          <br>
          <!-- <div class="bold">Price</div>
          <div>FREE (<del>₹ 1500</del>)</div> -->
        </div>
        <br><br>
        <h3>Our workshops <!-- <span class="series-price">(price: ₹ 6999 + Tax's)</span> --></h3>
        <p>
          Workshops tell you more about how and what to do as a better service provider.
          These are mainly focused on steps, of great service delivery.
          We cover the following topics in our workshops:
        </p>
        <br>
        <table class="table ">
          <tbody>
            <tr class="series-row">
                <td>#1</td>

                <td class="bold">
                    Understanding Customer Psychology &amp; Behaviour
                    <div class="desc">
                      <ul>
                          <li>How to Know your customer better</li>

                          <li>Why &amp; what customer of today is looking from his service provider</li>

                          <li>How to make a better connect with your customer</li>

                          <li>How to build a confidence of your customer in you</li>
                      </ul>
                    </div>
                </td>

                <td><span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span></td>
            </tr>

            <tr class="series-row">
                <td>#2</td>

                <td class="bold">
                    Domain Specific Customer Needs
                    <div class="desc">
                      <ul>
                          <li>Importance of industry specific needs</li>

                          <li>Why Understanding domain specific needs is the key to better delivery</li>

                          <li>How to understand these needs better from a provider's view</li>

                          <li>Every customer's needs are not the same but broadly it seems to be same</li>
                      </ul>
                    </div>
                </td>

                <td><span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span></td>
            </tr>

            <tr class="series-row">
                <td>#3</td>

                <td class="bold">
                    Delivering Profitable customer Experience
                    <div class="desc">
                      <ul>
                          <li>How to search &amp; research for your customer</li>

                          <li>How to filter &amp; shortlist the best for them</li>

                          <li>How to offer to the customer</li>

                          <li>How to deliver an experience that is convenient for your customer</li>
                      </ul>
                    </div>
                </td>

                <td><span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span></td>
            </tr>

            <tr class="series-row">
                <td>#4</td>

                <td class="bold">
                    How to Grow your customer base - By best use of Technology
                    &amp; Social Media
                    <div class="desc">
                      <ul>
                          <li>How to use todays' technologies to their best</li>

                          <li>What is the importance of a good profile &amp; ratings</li>

                          <li>How to build your profile &amp; credibility</li>

                          <li>How to use social media &amp; online to grow your business</li>
                      </ul>
                    </div>
                </td>

                <td><span class="glyphicon glyphicon-plus-sign"></span>
                <span class="glyphicon glyphicon-minus-sign"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <div class="register-container">
          <div id="register" class="panel panel-primary ">
            <div class="panel-heading">
              <h3 class="panel-title">Upcoming seminar</h3>
            </div>
            <div class="pre col-md-11 ctx-mrgn-s">
              <div class="bold">Topic</div>
              <div>“Changing Trends in Service Industry”</div>
              <div class="bold ctx-mrgn-s">Venues &amp; Dates</div>
              <div>Thane - 30th Oct</div>
              <!-- <div class="bold ctx-mrgn-s">Price</div>
              <div>FREE (<del>₹ 1500</del>)</div> -->
            </div>
            <div class="clearfix"></div>
            <br><br><br>
            <form class="register" validate="novalidate" action="http://app.bechsmartly.in/register" method="post">
              <div class="input-group form-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="fullname" required placeholder="Full Name (e.g John Doe)">
              </div>
              <div class="input-group ctx-mrgn-m form-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="email" class="form-control" name="email" required placeholder="Email (e.g abc@domain.com)">
              </div>
              <div class="input-group ctx-mrgn-m form-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-phone"></span>
                </span>
                <input type="text" class="form-control" name="mobile" required placeholder="Mobile (e.g 9876543210)">
              </div><br>
              <div class="content-center">
                <input type="submit" class="btn btn-primary btn-lg" value="Register now">
                <span class="glyphicon glyphicon-refresh loader"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-para" id="benefits">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">How does it help you</h1>
        <br><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Upgrade your knowledge<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Become a better service provider<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Be a part of like minded community<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Be better than your competitor<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Better understanding of consumer behaviour & needs<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Increased sales & reduced efforts<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Knowledge on organized & transparent dealings<br>
        </p><br>
        <p class="benefit">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
          Understand how technology can help you<br>
        </p><br>
      </div>
    </div>
  </div>
  <br>
</section>


<section class="content-para" id="faqs">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">FAQs</h1>
      <br><br>
      <div class="list-group ">

        <a href="#" class="list-group-item faq current">
          <div class="list-group-item-heading">
            <span class="col-md-1">Q: </span> <span class="col-md-10">Why are Seminars FREE?</span>
            <span class="clearfix"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <p class="list-group-item-text">
            <span class="col-md-1"><small>Ans: </small></span>
            <small class="col-md-10">Seminars are meant to clarify fundamentals of service provisioning in today’s time. We made the decision of making it free so that we can create a mass awareness of changing trends and the need for professionalism</small></p>
          <span class="clearfix"></span>
        </a>

        <a href="#" class="list-group-item faq">
          <div class="list-group-item-heading">
            <span class="col-md-1">Q: </span> <span class="col-md-10">Why are workshops NOT FREE?</span>
            <span class="clearfix"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <p class="list-group-item-text">
            <span class="col-md-1"><small>Ans: </small></span>
            <small class="col-md-10">We have to spend a lot of resources in conducting these <b>Seminars & Workshops</b>, so to keep the rollers running we need to charge for the workshops. Currently we are conducting workshops in Mumbai, Navi Mumbai & Thane, soon it will be started in multiple cities</small></p>
          <span class="clearfix"></span>
        </a>

        <a href="#" class="list-group-item faq">
          <div class="list-group-item-heading">
            <span class="col-md-1">Q: </span> <span class="col-md-10">I am already working as a Real Estate Agent, Insurance Agent and Travel Agent since long. How is it going to help me?</span>
            <span class="clearfix"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <p class="list-group-item-text">
            <span class="col-md-1"><small>Ans: </small></span>
            <small class="col-md-10">If you are associated with service Industry, you know since few years the competition is increasing and the customer is too demanding. So in this changing scenario to understand how you can better survive and grow among your competitors is very important. Also you need to understand how the revenue can be increased with less efforts and less money investment</small></p>
          <span class="clearfix"></span>
        </a>

        <a href="#" class="list-group-item faq">
          <div class="list-group-item-heading">
            <span class="col-md-1">Q: </span> <span class="col-md-10">I am a budding entrepreneur looking for a good break, will it help me?</span>
            <span class="clearfix"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <p class="list-group-item-text">
            <span class="col-md-1"><small>Ans: </small></span>
            <small class="col-md-10">This workshop will be very good for you as you will be able to ‘better’ handle customer which will increase your productivity and lead to more sales from beginning of your career</small></p>
          <span class="clearfix"></span>
        </a>

        <a href="#" class="list-group-item faq">
          <div class="list-group-item-heading">
            <span class="col-md-1">Q: </span> <span class="col-md-10">Can I know more about the Seminar or Workshop?</span>
            <span class="clearfix"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <p class="list-group-item-text">
            <span class="col-md-1"><small>Ans: </small></span>
            <small class="col-md-10">It will be difficult to tell you more over the phone or through the web, it is better if you attend it, it will surely help you to increase productivity, sales & revenue</small></p>
          <span class="clearfix"></span>
        </a>

        <a href="#" class="list-group-item faq">
          <div class="list-group-item-heading">
            <span class="col-md-1">Q: </span> <span class="col-md-10">It is very difficult to attend since the venue is too far or taking out 4 hours for Seminar is tough?</span>
            <span class="clearfix"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="glyphicon glyphicon-minus-sign"></span>
          </div>
          <p class="list-group-item-text">
            <span class="col-md-1"><small>Ans: </small></span>
            <small class="col-md-10">To improve the productivity and to learn something you need to pay big monies otherwise, but here you are getting it for FREE. So if you wish to increase your sales and want to understand what today’s buyer wants, you need to come once. Only then can you know how you can grow faster and that too with less efforts and investment</small></p>
          <span class="clearfix"></span>
        </a>

      </div>
      <br>
    </div>
  </div>
</section>

<section class="content-para green-textured-back" id="what-people-are-saying">
  <div class="container">
    <div class="col-md-8" id="container">
      <h1 class="title">What people are saying</h1>
      <br><br><br>
      <img src="{{ asset 'images/sticky5-new.png' }}" class="sticky sticky1" />
      <img src="{{ asset 'images/sticky2-new.png' }}" class="sticky sticky2" />
      <img src="{{ asset 'images/sticky3-new.png' }}" class="sticky sticky3" />
      <img src="{{ asset 'images/sticky4-new.png' }}" class="sticky sticky4" />
      <img src="{{ asset 'images/sticky1-new.png' }}" class="sticky sticky5" />
    </div>
  </div>
  <br><br>
</section>

<section class="content-para" id="contact-us">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">Contact us</h1>
      <br><br>
      <p>&nbsp;&nbsp;You can easily reach us here:</p><br>
      <div class="col-md-5">
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-map-marker ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">Shop no. 45, Bhanumati Shopping Complex, Bangur Nagar, Goregaon (W), Mumbai - 400090</span>
        </p>
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-phone ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">+91-8879779807</span>
        </p>
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-envelope ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">support@bechsmartly.in</span>
        </p>
      </div>
      <div class="col-md-7 content-right" id="map-container"></div>
    </div>
  </div>
  <br>
</section>

<section class="content-para " id="about-us">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">About us</h1>
      <br><br>
      <p>Knowledge series initiated by In-Focus and TakeOff for streamlining
        the service industry in India. We all know service industry is the
        biggest revenue generator for govt of India &amp; accounts for
        livelihood to majority of indian entrepreneurs. Our existing &amp;
        budding service providers need better knowledge of consumer needs and
        behaviour to deliver better services and become a part of an organised
        service sector. So we help them to know answers to all their unanswered
        questions like.</p>

        <ul>
            <li>I am putting lot of efforts but not doing satisfactory
            business</li>

            <li>I give best of the services but still customer wants more</li>

            <li>The customer is not ready to pay for the extra ordinary
            services which i am providing</li>

            <li>Do not understand what kind of services a customer is looking
            at</li>

            <li>How can I be better than my competitor</li>

            <li>Technology &amp; social media is great but how to use it best
            for my growth</li>

            <li>I don’t have too much money to spend on marketing and
            advertising, then how can I generate more business</li>
        </ul>

        <p>and many more….</p>

        <p>We not only answer these questions, but we also help them to
        understand how they can overcome the challenges to these answers and
        improve their productivity thus resulting in better customer
        satisfaction, more sales &amp; more revenues.</p>
    </div>
  </div>
  <br><br><br><br><br>
</section>

<div class="modal fade" role="dialog" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Thank you for registering</h4>
      </div>
      <div class="modal-body">
        <p>You have successfully registered for the upcoming session. Our representative shall get in touch with you shortly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" role="dialog" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Oops some error occurred.</h4>
      </div>
      <div class="modal-body">
        <p>Seems some server issue has occurred. Please submit again or come back later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
